{% extends 'main/prototype.html' %}

{% block title %}HaronMoscow - речное шеринг такси{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block content %}
    <div class="features">
        <h1><i>{{ title }}</i></h1>
        <div class="about-section">
            <p>
                <b>HaronMoscow</b> — это инновационное речное шеринг такси, предоставляющее удобные и экологичные услуги для пассажиров в Москве.
                Мы предлагаем быстрые и комфортные поездки по реке, избавляя вас от пробок и шумного городского движения. 
                В нашем сервисе можно легко забронировать маршрут через мобильное приложение, выбирая комфортные и безопасные катера для путешествий по Москве-реке и её окрестностям.
            </p>
        </div>
            <button class="btn btn-warning animated-button" data-toggle="modal" data-target="#registrationModal"><b>Вызвать уже сейчас</b></button>

    </div>
{% endblock %}
